.page {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.page ul {
    list-style: none;
}
.main-header {
    padding-top: 49px;
    background-color: #eeeeee;
}
.content-wrapper {
    width: 1160px;
    min-height: 545px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.main-navigation {
    display: flex;
    min-height: 65px;
}
.main-navigation-site {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 25px 20px 0;
    justify-content: center;
    width: 800px;
}
.user-cart {
    margin: 0;
    padding-top: 25px;
    width: 160px;
    text-align: right;
}
.main-navigation-site li {
    padding: 0 23px;
}
.main-logo {
    display: block;
    width: 160px;
    height: 65px;
}
.main-logo:hover {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

.main-navigation ul {
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.main-navigation a {
    text-decoration: none;
    color: #000000;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.about-us .container-1 h1 {
    color: #000000;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.about-us .container-1 p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about-us .button {
    text-align: center;
}

.button {
    background-color: #fb565a;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.about-us .button:hover {
    background-color: #e74246;
}

.about-us .button:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

main {
    background-color: #ffffff;
    background-image: url("../img/main-background.png");
}
.development p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.development h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.development .button {
    text-align: center;
}

li:nth-child(1) .button {
    background-color: #fb565a;
}

li:nth-child(1) .button:hover {
    background-color: #e74246;
}

li:nth-child(1) .button:active {
    opacity: 0.3;

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

li:nth-child(2) .button {
    background-color: #00ca74;
}

li:nth-child(2) .button:hover {
    background-color: #00bc6c;
}

li:nth-child(2) .button:active {
    opacity: 0.3;

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

li:nth-child(3) .button {
    background-color: #efc84a;
}

li:nth-child(3) .button:hover {
    background-color: #eab534;
}

li:nth-child(3) .button:active {
    opacity: 0.3;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}