body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

body ul {
    list-style: none;
}

body a {
    text-decoration: none;
    color: inherit;
}

.main-header {
    background: #eeeeee;

    padding-top: 49px;
    margin-bottom: 80px;
}

.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.main-navigation {
    display: flex;
    min-height: 65px;
    margin-bottom: 34px;

    text-transform: uppercase;
    color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #fb565a;
}

.main-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.main-logo {
    display: block;
    width: 160px;
    height: 65px;
}

.main-logo:hover,
.main-logo:focus {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

.navigation-site {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 25px 20px 0;
    justify-content: center;
    width: 800px;
}

.navigation-site li {
    padding: 0 23px;
}

.user-cart {
    display: flex;
    margin: 0;
    padding-top: 25px;
    width: 115px;

    text-align: right;
}

.user-cart .cart {
    position: relative;
    padding-left: 26px;
}

.cart::before {
    content: "";

    position: absolute;
    left: 0;
    top: 5px;

    width: 15px;
    height: 15px;

    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.list-development {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 2px solid #eee;
    margin: 0 0 20px;
}

.list-development h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.button {
    display: block;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;

    border-radius: 3px;
    border: none;
}

.list-development .button {
    width: 160px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.list-development li:nth-child(1) .button {
    background-color: #fb565a;
}

.list-development li:nth-child(1) .button:hover,
.list-development li:nth-child(1) .button:focus {
    background-color: #e74246;
}

.list-development li:nth-child(1) .button:active {
    opacity: 0.3;

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.list-development li:nth-child(2) .button {
    background-color: #00ca74;
}

.list-development li:nth-child(2) .button:hover,
.list-development li:nth-child(2) .button:focus {
    background-color: #00bc6c;
}

.list-development li:nth-child(2) .button:active {
    opacity: 0.3;

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

.list-development li:nth-child(3) .button {
    background-color: #efc84a;
}

.list-development li:nth-child(3) .button:hover,
.list-development li:nth-child(3) .button:focus {
    background-color: #eab534;
}

.list-development li:nth-child(3) .button:active {
    opacity: 0.3;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 2px solid #eee;
}

.about-us .company {
    width: 660px;
    padding-top: 20px;
}

.about-us .company h1 {
    margin: 0;
    color: #000000;
    font-size: 45px;
    line-height: 45px;
}

.about-us .company h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.about-us .company ul {
    padding: 0;
}

.about-us .company li {
    margin-bottom: 24px;
}

.about-us .company li span {
    color: #fb565a;
}

.about-us .statistics {
    width: 360px;
}

.about-us .statistics table {
    width: 100%;
}

.about-us .statistics caption {
    margin-bottom: 24px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us .statistics td {
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 18px;
    text-align: left;
}

.about-us .statistics th {
    padding: 0;
    height: 67px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding-top: 49px;
    padding-bottom: 44px;
    border-bottom: 2px solid #eee;
}

.clients li {
    position: relative;
}

.clients li:not(:first-child) a {
    padding-left: 45px;
}

.clients li:not(:first-child) {
    width: 256px;
}

.clients li:not(:first-child):before {
    content: "";

    width: 2px;
    height: 52px;

    position: absolute;

    background-image: url("../img/line-logo.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.clients a:nth-child(1) {
    opacity: 0.2;
}

.clients a:nth-child(1):hover,
.clients a:nth-child(1):focus {
    opacity: 1;
}

.clients a:nth-child(1):active {
    opacity: 0.1;
}

.clients a:nth-child(2) {
    opacity: 0.2;
}

.clients a:nth-child(2):hover,
.clients a:nth-child(2):focus {
    opacity: 1;
}

.clients a:nth-child(2):active {
    opacity: 0.1;
}

.clients a:nth-child(3) {
    opacity: 0.2;
}

.clients a:nth-child(3):hover,
.clients a:nth-child(3):focus {
    opacity: 1;
}

.clients a:nth-child(3):active {
    opacity: 0.1;
}

.clients a:nth-child(4) {
    opacity: 0.2;
}

.clients a:nth-child(4):hover,
.clients a:nth-child(4):focus {
    opacity: 1;
}

.clients a:nth-child(4):active {
    opacity: 0.1;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 69px;
    padding-bottom: 65px;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 139px 0 0;
    padding-left: 0;
    width: 360px;
}

.social-links li {
    margin-right: 13px;
}

.social-links .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-links .social-button:hover,
.social-links .social-button:focus {
    background-color: #e74246;
}

.social-links .social-button:active {
    opacity: 0.3;
}

.offer {
    width: 760px;
}

.offer h1 {
    margin: 0;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.offer p {
    margin-top: 4px;
    margin-bottom: 11px;
}