body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

body ul {
    list-style: none;
}

body a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

/* header-styles */
.main-header {
    background: #eeeeee;

    padding-top: 49px;
    margin-bottom: 80px;
}

.main-navigation {
    display: flex;
    min-height: 65px;
    margin-bottom: 34px;

    text-transform: uppercase;
    color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #fb565a;
}

.main-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.main-logo {
    display: block;
    width: 160px;
    height: 65px;
}

.main-logo:hover,
.main-logo:focus {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

.navigation-site {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 25px 20px 0;
    justify-content: center;
    width: 800px;
}

.navigation-site .check {
    border-bottom: 2px solid #fb565a;
}

.navigation-site li {
    margin: 0 23px;
}

.user-cart {
    display: flex;
    margin: 0;
    padding-top: 25px;
    width: 115px;

    text-align: right;
}

.user-cart .cart {
    position: relative;
    padding-left: 26px;
}

.cart::before {
    content: "";

    position: absolute;
    left: 0;
    top: 5px;

    width: 15px;
    height: 15px;

    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* main index styles*/
.list-development {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 2px solid #eee;
    margin: 0 0 20px;
}

.list-development h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.button {
    display: block;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;

    border-radius: 3px;
    border: none;
}

.list-development .button {
    width: 160px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.list-development li:nth-child(1) .button {
    background-color: #fb565a;
}

.list-development li:nth-child(1) .button:hover,
.list-development li:nth-child(1) .button:focus,
.action .button:hover,
.action .button:focus{
    background-color: #e74246;
}

.list-development li:nth-child(1) .button:active,
.action .button:active{
    opacity: 0.3;

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.list-development li:nth-child(2) .button {
    background-color: #00ca74;
}

.list-development li:nth-child(2) .button:hover,
.list-development li:nth-child(2) .button:focus {
    background-color: #00bc6c;
}

.list-development li:nth-child(2) .button:active {
    opacity: 0.3;

    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

.list-development li:nth-child(3) .button {
    background-color: #efc84a;
}

.list-development li:nth-child(3) .button:hover,
.list-development li:nth-child(3) .button:focus {
    background-color: #eab534;
}

.list-development li:nth-child(3) .button:active {
    opacity: 0.3;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 2px solid #eee;
}

.about-us .company {
    width: 660px;
    padding-top: 20px;
}

.about-us .company h1 {
    margin: 0;
    color: #000000;
    font-size: 45px;
    line-height: 45px;
}

.about-us .company h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.about-us .company ul {
    padding: 0;
}

.about-us .company li {
    margin-bottom: 24px;
}

.about-us .company li span {
    color: #fb565a;
}

.about-us .statistics {
    width: 360px;
}

.about-us .statistics table {
    width: 100%;
}

.about-us .statistics caption {
    margin-bottom: 24px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us .statistics td {
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 18px;
    text-align: left;
}

.about-us .statistics th {
    padding: 0;
    height: 67px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding-top: 49px;
    padding-bottom: 44px;
    border-bottom: 2px solid #eee;
}

.clients li {
    position: relative;
}

.clients li:not(:first-child) a {
    padding-left: 45px;
}

.clients li:not(:first-child) {
    width: 256px;
}

.clients li:not(:first-child):before {
    content: "";

    width: 2px;
    height: 52px;

    position: absolute;

    background-image: url("../img/line-logo.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.clients a:nth-child(1) {
    opacity: 0.2;
}

.clients a:nth-child(1):hover,
.clients a:nth-child(1):focus {
    opacity: 1;
}

.clients a:nth-child(1):active {
    opacity: 0.1;
}

.clients a:nth-child(2) {
    opacity: 0.2;
}

.clients a:nth-child(2):hover,
.clients a:nth-child(2):focus {
    opacity: 1;
}

.clients a:nth-child(2):active {
    opacity: 0.1;
}

.clients a:nth-child(3) {
    opacity: 0.2;
}

.clients a:nth-child(3):hover,
.clients a:nth-child(3):focus {
    opacity: 1;
}

.clients a:nth-child(3):active {
    opacity: 0.1;
}

.clients a:nth-child(4) {
    opacity: 0.2;
}

.clients a:nth-child(4):hover,
.clients a:nth-child(4):focus {
    opacity: 1;
}

.clients a:nth-child(4):active {
    opacity: 0.1;
}

/* footer styles */
.main-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 69px;
    padding-bottom: 65px;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 139px 0 0;
    padding-left: 0;
    width: 360px;
}

.social-links li {
    margin-right: 13px;
}

.social-links .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-links .social-button:hover,
.social-links .social-button:focus {
    background-color: #e74246;
}

.social-links .social-button:active {
    opacity: 0.3;
}

.offer {
    width: 760px;
}

.offer h1 {
    margin: 0;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.offer p {
    margin-top: 4px;
    margin-bottom: 11px;
}

/* catalog main  */

.header-catalog {
    padding-bottom: 116px;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 116px;
    color: #000000;
    font-size: 55px;
    line-height: 55px;
}

.catalog {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 261px;
}

.filter fieldset {
    margin-bottom: 50px;
    border: none;
}

.filter legend,
.sorting p {
    margin: 0;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.range-filter legend,
.grid-field legend,
.product-group-field legend {
    margin-bottom: 15px;
}

.range-filter {
    width: 240px;
}


.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.filters ul,
.sorting ul {
    padding: 0;
    margin-top: 0;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input {
    display: none;
}

.grid-field-list label,
.product-group-field label {
    position: relative;
    display: block;

    padding-left: 35px;

    user-select: none;
    cursor: pointer;
}

.filter-option {
    margin-bottom: 12px;
}

.filter-input-radio + label:before {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    opacity: 0.4;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.filter-input-radio:checked + label:after {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;

    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio:hover + label:before,
.filter-input-checkbox:hover + label:before {
    opacity: 1;
}

.filter-input-checkbox + label:before {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    opacity: 0.4;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.filter-input-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sorting a {
    opacity: 0.3;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort-type li {
    margin-right: 25px;
}

.sort-type li:nth-child(1) a {
    opacity: 1;
}

.sort-type a:hover,
.sort-type a:focus {
    opacity: 0.6;
}

.sort-type a:active {
    opacity: 1;
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.items {
    width: 759px;
    display: flex;
    flex-direction: column;
}

.sort-type-wrapper {
    display: flex;
    justify-content: space-between;
}

.sort-type {
    display: flex;
    justify-content: space-between;
}

.icon-sort {
    position: relative;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon-sort li:nth-child(1):before {

    content: "";
    position: absolute;
    top: 7px;

    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    width: 11px;
    height: 10px;

    cursor: pointer;
}

.icon-sort li:nth-child(2):before {
    opacity: 0.2;

    content: "";
    position: absolute;
    top: 7px;
    right: 5px;

    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    width: 11px;
    height: 10px;

    cursor: pointer;
}

.icon-sort li:hover,
.icon-sort li:focus {
    opacity: 0.5;
}

.icon-sort li:active {
    opacity: 1;
}


.filter .button {
    padding: 16px 89px;
}

.filter .button,
.pagination-list .button {
    background-color: #eeeeee;
    color: #000000;
}

.pagination-list li:nth-child(1) .button {
    padding: 13px 17px;
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.pagination-list .button:hover,
.pagination-list .button:focus,
.filter .button:hover,
.filter .button:focus {
    background-color: #dfdfdf;
}

.pagination-list .button:active,
.filter .button:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
    margin: 0;
    padding: 28px 0 28px;
}

.catalog-list li {
    padding-top: 40px;
    position: relative;
}

.catalog-list li:before {
    content: "";

    position: absolute;
    top: 0;


    width: 360px;
    height: 40px;

    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.12;
}

.catalog-list li:hover:before,
.catalog-list li:focus:before {
    opacity: 1;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 385px;

    width: 360px;
    height: 231px;

    background-color: #eeeeee;
}

.action {
    display: none;
}

.catalog-list li:hover .action {
    display: flex;
}

.action h2 {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.action p {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 30px;
}

.action .button {
    background-color: #fb565a;
    padding: 19px 62px;
}

.pagination-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.pagination-list li {
    margin-right: 12px;
}

.pagination-list .button {
    padding: 16px 20px;
}